body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  width: 150px;
  height: 150px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.tile:hover {
  background-color: #217dbb;
}
